@model dynamic

@{
    ViewBag.Title = "title";
}
@*@model Labixa.Areas.Admin.ViewModel.LoginFormModel

<h1>Hello @Model.name</h1>

@Html.DropDownListFor(model=>model.RoleGroupId,Model.ListRoleGroup);*@

