
@{
    ViewBag.Title = "BeLabixa";
}
<div class="container">
    <!-- BE LABIXA-->

    <div class=" clearfix" style="margin-bottom:30px">
        <div class='projects_holder projects_type2 v1'>
            <article class='mix video '>
                <div class='image'>
                    <a href='#'>
                        <img src="/Images/BeLabixa/sea-background.jpg" class=" " alt="02" style="height: auto;" />
                    </a>
                </div>
            </article>
        </div>
        <div class="container_inner" style="width: 1000px;">
            <div class="accordion full_screen yes ui-accordion ui-widget ui-helper-reset" style="background-color: ;" role="tablist">
                <div class="accordion_inner ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion ui-widget" role="tablist" id="ui-accordion-1-header-0" aria-controls="ui-accordion-1-panel-0" aria-selected="false" tabindex="0" style="width: 1519px; margin-left: -259.5px; margin-right: -259.5px;">
                    <h4 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" id="ui-accordion-ui-accordion-1-header-0-header-0" aria-controls="ui-accordion-ui-accordion-1-header-0-panel-0" aria-selected="false" tabindex="0">
                        THÔNG TIN VỀ CÔNG TRÌNH BÈ DU LỊCH LABIXA <span class="arrow"></span>
                    </h4>
                    <div class="accordion_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-ui-accordion-1-header-0-panel-0" aria-labelledby="ui-accordion-ui-accordion-1-header-0-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none; padding: 0px 50px 30px;">
                        <div class="four_columns clearfix">
                            <div class="column1">
                                <div class="column_inner">

                                    <div class='title_with_line_separator'></div>
                                    <p style="text-align: center;">
                                    <span class="counter" style="font-size:60px; height:80px; line-height:80px;">3</span>
                                    <h3 style="text-align: center;"> BÈ LABIXA</h3>
                                    <p>&nbsp;</p>


                                </div>
                            </div>
                            <div class="column2">
                                <div class="column_inner">
                                    <div class='title_with_line_separator'></div>
                                    <p style="text-align: center;">
                                    <span class="counter" style="font-size: 60px; height: 80px; line-height: 80px;">800m2</span>
                                    <h3 style="text-align: center;">TỔNG DIỆN TÍCH</h3>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="column3">
                                <div class="column_inner">
                                    <div class='title_with_line_separator'></div>
                                    <p style="text-align: center;">
                                    <span class="counter" style="font-size: 60px; height: 80px; line-height: 80px;">900</span>
                                    <h3 style="text-align: center;">THÙNG COMPOSITE</h3>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="column4">
                                <div class="column_inner">
                                    <div class='title_with_line_separator'></div>
                                    <p style="text-align: center;">
                                    <span class="counter" style="font-size: 60px; height: 80px; line-height: 80px;">500 m3</span>
                                    <h3 style="text-align: center;">GỖ NHUNG</h3>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="column1">
                                <div class="column_inner">
                                    <div class='title_with_line_separator'></div>
                                    <p style="text-align: center;">
                                    <span class="counter" style="font-size: 60px; height: 80px; line-height: 80px;">18</span>
                                    <h3 style="text-align: center;">CANO - MOTO</h3>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="column2">
                                <div class="column_inner">
                                    <div class='title_with_line_separator'></div>
                                    <p style="text-align: center;">
                                    <span class="counter" style="font-size: 60px; height: 80px; line-height: 80px;">5</span>
                                    <h3 style="text-align: center;">THUYỀN GỖ </h3>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="column3">
                                <div class="column_inner">
                                    <div class='title_with_line_separator'></div>
                                    <p style="text-align: center;">
                                    <span class="counter" style="font-size: 60px; height: 80px; line-height: 80px;">700</span>
                                    <h3 style="text-align: center;">LƯỢNG KHÁCH TỐI ĐA</h3>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="column4">
                                <div class="column_inner">
                                    <div class='title_with_line_separator'></div>
                                    <p style="text-align: center;">
                                    <a href="#" target="" class="button medium" style="color: #FFFFFF; ">Xem chi tiết bè Labixa</a>

                                    <p>&nbsp;</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
    <div class="title has_fixed_background  ">
        <h1>MÔ HÌNH BÈ DU LỊCH LABIXA 3D</h1>
    </div>
    <div class="container_inner clearfix" style="margin-bottom: 50px" >
        <div class="column_inner">
            <div class="labixa-image-3d">
                <div id="layerslider_labixa3d" class="">
                    <div class="ls-slide">
                        <img src="/Content/plugin/layerSlider/blank.gif" data-src="/Images/Belabixa/3d_01.jpg" class="ls-bg" alt="Slide background" />


                    </div>
                    <div class="ls-slide">
                        <img src="/Content/plugin/layerSlider/blank.gif" data-src="/Images/Belabixa/IMG_8702.jpg" class="ls-bg" alt="Slide background" />


                    </div>
                    <div class="ls-slide">
                        <img src="/Content/plugin/layerSlider/blank.gif" data-src="/Images/Belabixa/3d_02.jpg" class="ls-bg" alt="Slide background" />


                    </div>
                    <div class="ls-slide">
                        <img src="/Content/plugin/layerSlider/blank.gif" data-src="/Images/Belabixa/IMG_8727.jpg" class="ls-bg" alt="Slide background" />


                    </div>
                    <div class="ls-slide">
                        <img src="/Content/plugin/layerSlider/blank.gif" data-src="/Images/Belabixa/3d_03.jpg" class="ls-bg" alt="Slide background" />
                    </div>
                    <div class="ls-slide">
                        <img src="/Content/plugin/layerSlider/blank.gif" data-src="/Images/Belabixa/IMG_8717.jpg" class="ls-bg" alt="Slide background" />
                    </div>

                </div>

            </div>

        </div>
    </div>
    
  
    <div class="container_inner clearfix" style="margin-bottom: 50px">
        <div class="column_inner">
            <div class="labixa-image-3d">
                <div id="layerslider_labixa3d" class="">
                    <div class="ls-slide">
                        <img src="/Content/plugin/layerSlider/blank.gif" data-src="/Images/Belabixa/3d_01.jpg" class="ls-bg" alt="Slide background" />


                    </div>

                    <div class="ls-slide">
                        <img src="/Content/plugin/layerSlider/blank.gif" data-src="/Images/Belabixa/3d_02.jpg" class="ls-bg" alt="Slide background" />


                    </div>
                    <div class="ls-slide">
                        <img src="/Content/plugin/layerSlider/blank.gif" data-src="/Images/Belabixa/3d_03.jpg" class="ls-bg" alt="Slide background" />
                    </div>

                </div>

            </div>

        </div>
    </div>
    
    <div class="container_inner clearfix">

        <div class=" clearfix">
            <div class="column2">
                <div class="column_inner">
                    <h3 class="title_with_line">BÁO CHÍ &amp; LABIXA</h3><div class="title_with_line_separator"></div>
                </div>
            </div>
        </div>
        <div class="container_inner clearfix homepagenews">
            <div class="column_inner">
                <div class="three_columns clearfix">
                   @Html.Action("BaoChiBeLabixa", "Home")
                </div>
                <div style="margin-top:30px;margin-bottom:30px;background-color: transparent;" class="separator"></div>

            </div>

        </div>

    </div>

    <!--END  BE LABIXA-->

</div>
@section scripts{
    <script>
        $j(window).load(function () {
            $j("#layerslider_labixa3d").layerSlider({
                width: '100%',
                height: '600px',
                skinsPath: '/Content/plugin/layerSlider/skins/',
                showBarTimer: false,
                showCircleTimer: false,
                hoverPrevNext: true,
                hoverBottomNav: true,
            });

        });
    </script>
}