@{
    ViewBag.Title = "Tour";
}




<div style="min-height: 740px;" class="content">
    <div style="display: block; position: relative; visibility: visible;" class="content_inner  ">

        <div class="full_width">
            <section class="parallax">
                <section id="1" style="background-image: url(&quot;http://demo.qodeinteractive.com/central/wp-content/uploads/2013/05/parallaxunderwater4.jpg&quot;); height: 1080px; background-position: center -25.7556px;" data-height="1080" data-title="...">
                    <div class="parallax_content">
                        <div style="margin-top:200px;margin-bottom:200px;background-color: transparent;" class="separator"></div>
                        <div class="element_from_bottom element_from_bottom_on">
                            <div>
                                <h1 style="text-align: center;"><strong><span style="color: #ffffff;">STUNNING, EASY TO CREATE PARALLAX PAGES</span></strong></h1>
                            </div>
                        </div>
                        <div style="margin-top:20px;margin-bottom:20px;background-color: transparent;" class="separator"></div>
                        <div class="element_from_bottom element_from_bottom_on">
                            <div>
                                <p style="text-align: center;">
                                    <a href="http://themeforest.net/item/central-versatile-multipurpose-wordpress-theme/4798696?ref=QODE" target="" class="button medium" style="color: #FFFFFF; background-color: #1f1f1f; ">BUY THEME</a>
                                </p>
                            </div>
                        </div>
                        <div style="margin-top:200px;margin-bottom:200px;background-color: transparent;" class="separator"></div>
                    </div>
                </section>
                <section id="2" style="background-image: url(&quot;http://demo.qodeinteractive.com/central/wp-content/uploads/2013/05/parallaxunderwater51.jpg&quot;); height: 1080px; background-position: center 235.979px;" data-height="1080" data-title="...">
                    <div class="parallax_content">
                        <div style="margin-top:200px;margin-bottom:200px;background-color: transparent;" class="separator"></div>
                        <div class="element_from_bottom element_from_bottom_on">
                            <div>
                                <h1 style="text-align: center;">
                                    <strong>
                                        <span style="color: #ffffff;">
                                            PERFECT FOR CREATIVE HOMEPAGES<br>
                                        </span>
                                    </strong>
                                </h1>
                            </div>
                        </div>
                        <div style="margin-top:20px;margin-bottom:20px;background-color: transparent;" class="separator"></div>
                        <div class="element_from_bottom element_from_bottom_on">
                            <div>
                                <p style="text-align: center;">
                                    <a href="http://themeforest.net/item/central-versatile-multipurpose-wordpress-theme/4798696?ref=QODE" target="" class="button medium" style="color: #FFFFFF; background-color: #1f1f1f; ">BUY THEME</a>
                                </p>
                            </div>
                        </div>
                        <div style="margin-top:200px;margin-bottom:200px;background-color: transparent;" class="separator"></div>
                    </div>
                </section>
                <section id="3" style="background-image: url(&quot;http://demo.qodeinteractive.com/central/wp-content/uploads/2013/05/parallaxunderwater6.jpg&quot;); height: 1080px; background-position: center 489.397px;" data-height="1080" data-title="...">
                    <div class="parallax_content">
                        <div style="margin-top:200px;margin-bottom:200px;background-color: transparent;" class="separator"></div>
                        <div class="element_from_bottom element_from_bottom_on">
                            <div>
                                <h1 style="text-align: center;">
                                    <strong>
                                        <span style="color: #ffffff;">
                                            EYE-CATCHING PRODUCT &amp; SERVICE PRESENTATIONS<br>
                                        </span>
                                    </strong>
                                </h1>
                            </div>
                        </div>
                        <div style="margin-top:20px;margin-bottom:20px;background-color: transparent;" class="separator"></div>
                        <div class="element_from_bottom element_from_bottom_on">
                            <div>
                                <p style="text-align: center;">
                                    <a href="http://themeforest.net/item/central-versatile-multipurpose-wordpress-theme/4798696?ref=QODE" target="" class="button medium" style="color: #FFFFFF; background-color: #1f1f1f; ">BUY THEME</a>
                                </p>
                            </div>
                        </div>
                        <div style="margin-top:200px;margin-bottom:200px;background-color: transparent;" class="separator"></div>
                    </div>
                </section>
                <section id="4" style="background-image: url(&quot;http://demo.qodeinteractive.com/central/wp-content/uploads/2013/05/parallaxunderwater7.jpg&quot;); height: 1080px; background-position: center 729.128px;" data-height="1080" data-title="...">
                    <div class="parallax_content">
                        <div style="margin-top:200px;margin-bottom:200px;background-color: transparent;" class="separator"></div>
                        <div class="element_from_bottom element_from_bottom_on">
                            <div>
                                <h1 style="text-align: center;">
                                    <strong>
                                        <span style="color: #ffffff;">
                                            GREAT FOR AWESOME PORTFOLIO PROJECTS<br>
                                        </span>
                                    </strong>
                                </h1>
                                <p style="text-align: center;"></p>
                            </div>
                        </div>
                        <p style="text-align: center;"></p><div style="margin-top:20px;margin-bottom:20px;background-color: transparent;" class="separator"></div>
                        <p style="text-align: center;"></p><div class="element_from_bottom element_from_bottom_on">
                            <div>
                                <p style="text-align: center;">
                                    <a href="http://themeforest.net/item/central-versatile-multipurpose-wordpress-theme/4798696?ref=QODE" target="" class="button medium" style="color: #FFFFFF; background-color: #1f1f1f; ">BUY THEME</a>
                                </p>
                            </div>
                        </div>
                        <div style="margin-top:200px;margin-bottom:200px;background-color: transparent;" class="separator"></div>
                    </div>
                </section>
            </section>

        </div>

    </div>
</div>

<div style="visibility: visible;" id="toolbar" class="off">
    <a class="open" href="#">
        <span>VIEW CENTRAL THEME EXAMPLES</span>
    </a>
    <div style="margin-bottom: -394px;" id="toolbar_outer">
        <div id="toolbar_inner">
            <div id="toolbar_inner2">
                <div class="website_holder">
                    <div class="toolbar_image">
                        <div class="shader"></div>
                        <img src="http://demo.qodeinteractive.com/central/example_images/1.jpg" alt="">
                        <a href="http://demo.qodeinteractive.com/central1" target="_blank">
                            <div class="text">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align:middle">
                                                <div class="desc">
                                                    <p>
                                                        Transparent menu bar<br>
                                                        Wide menu<br>
                                                        Grid header and footer<br>
                                                        No page transition (ajax disabled)<br><br>
                                                    </p>
                                                    <a class="button" href="http://demo.qodeinteractive.com/central1" target="_blank">VIEW EXAMPLE</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </a>
                    </div>
                    <h4>5TH AVENUE</h4>
                </div>
                <div class="website_holder">
                    <div class="toolbar_image">
                        <div class="shader"></div>
                        <img src="http://demo.qodeinteractive.com/central/example_images/2.jpg" alt="">
                        <a href="http://demo.qodeinteractive.com/central2" target="_blank">
                            <div class="text">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align:middle">
                                                <div class="desc">
                                                    <p>
                                                        White full color menu bar<br>
                                                        Grid header and footer<br>
                                                        Custom font<br>
                                                        No page transition (ajax disabled)<br><br>
                                                    </p>
                                                    <a class="button" href="http://demo.qodeinteractive.com/central2" target="_blank">VIEW EXAMPLE</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </a>
                    </div>
                    <h4>HUDSON</h4>
                </div>
                <div class="website_holder">
                    <div class="toolbar_image">
                        <div class="shader"></div>
                        <img src="http://demo.qodeinteractive.com/central/example_images/3.jpg" alt="">
                        <a href="http://demo.qodeinteractive.com/central3" target="_blank">
                            <div class="text">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align:middle">
                                                <div class="desc">
                                                    <p>
                                                        Black full color menu bar<br>
                                                        Grid header and footer<br>
                                                        Boxed layout<br>
                                                        Up/Down page transition (ajax enabled)<br><br>
                                                    </p>
                                                    <a class="button" href="http://demo.qodeinteractive.com/central3" target="_blank">VIEW EXAMPLE</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </a>
                    </div>
                    <h4>DOWNTOWN</h4>
                </div>
                <div class="website_holder">
                    <div class="toolbar_image">
                        <div class="shader"></div>
                        <img src="http://demo.qodeinteractive.com/central/example_images/4.jpg" alt="">
                        <a href="http://demo.qodeinteractive.com/central4" target="_blank">
                            <div class="text">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align:middle">
                                                <div class="desc">
                                                    <p>
                                                        Transparent menu bar<br>
                                                        Dark background<br>
                                                        Custom separators<br>
                                                        Fade in/out transition (ajax enabled)<br><br>
                                                    </p>
                                                    <a class="button" href="http://demo.qodeinteractive.com/central4" target="_blank">VIEW EXAMPLE</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </a>
                    </div>
                    <h4>SOHO</h4>
                </div>
            </div>
        </div>
    </div>
</div>


